#intro{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #FA4D4D;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: swipe-up 2s;
    animation-fill-mode: forwards;
}

#intro img{
    height: 500px;
    width: 800px;
    animation: logo-fadein 1s;
}

@keyframes logo-fadein{
    from{
        opacity: 0;
        transform: rotate(45deg);        
    }
    to{
        opacity: 1;
        transform: rotate(0deg);   
    }
}

@keyframes swipe-up{
    50%{
        top: 0
    }
    100%{
        top: -100vh;
    }

}

